* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* background: #cacaca; */
    background: #57e6df;
}
h2 {
    text-align: center;
    color: white;
    margin: 20px 0px;
    background: red;
    font-size: 2.5em;
}
#rech_devis {
    position: relative;
    width: 40%;
    /* display: flex; */
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    margin: 3px auto;
    padding: 7px 10px;
    /* text-align: center; */
    background: rgba(174, 174, 177, 0.589);
}
#sous_rech_devis {
    text-align: center;
    display: flex;
    width: 80%;
    align-items: center;
    margin: 0px auto;

}
#sous_rech_devis p {
    font-size: 1.2em;
    /* background: red; */
}
#sous_rech_devis input {
    height: 25px;
    width: 65%;
    border: none;
    text-align: center;
    /* align-items: center; */
    margin-left: 3px;
    scroll-padding-left: 2px;

}
/* #rech_devis {
    position: relative;
    border: 1px solid whitesmoke;
    border-left: none;
    border-right: none;
    background-color: rgba(000, 000,000, 0.2);
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    min-height: 3%;
    text-align: center;
    padding: 2%;
} */
#cont_archive {
    width: 98%;
    height: 400px;
    margin: 10px auto;
    background: #cacaca;
    border-radius: 10px;
    border: 2px solid black;
}
#cont_tableau_archive {
    width: 96%;
    height: 350px;
    background: white;
    margin: 20px auto;
    padding: 20px 5px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    /* border: 2px solid red; */
}
#bt_nouvo_devis {
    /* border: 2px solid red; */
    width: 90%;
    margin: 20px 0px;
    display: flex;
    margin-left: 4px;
    justify-content: space-between;

}
#bt_nouvo_devis #bt_retour {
    font-size: 1.3em;
    padding: 0px 4px;
    /* margin-left: 4px; */
}
#bt_nouvo_devis #new_devis {
    font-size: 1.3em;
    padding: 4px 6px;
}
#cont_tableau_archive table {
    margin: 0px auto;
    width: 98%;
    border: 2px solid black;
    border-spacing: 4px;
    /* border: 2px solid red; */

}
#cont_tableau_archive table th {
    background: gray;
    color: white;
    text-align: center;
    padding: 1px 0px;
    /* height: 30px; */
}
#cont_tableau_archive table td {
    text-align: center;
    padding: 2px 3px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
/* #cont_tableau_archive table img {
    width: 100%;
} */
