* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #05DEFF;
    /* background: black; */
}
h1 {
    text-align: center;
    margin: 17px 0px;
    font-size: 2.6em;
    background: red;
    color: white;
}
.gt_rech {
    /* border: 2px solid red; */
    width: 75%;
    margin: 2px auto;
    justify-content: space-evenly;
    display: flex;
    /* margin-top: 6px; */
}
.gt_rech .saa {
    height: 25px;
    margin: auto 0px;
}
.gt_rech .gt_ {
    width: 40%;
}

#rech {
    width: 40%;
    height: 25px;
}
#h3__ {
    /* margin-left: 12%; */
    font-size: 1.6em;
    /* margin-top: 2px; */
}


.entet_list_clien {
    border: 2px solid black;
    background: #D1DEE3;
    width: 95%;
    margin: 5px auto;
    /* margin-left: -5px; */
    padding: 7px 0px;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
}
.entet_list_clien #seach {
    width: 40%;
    margin-left: 10px;
}
#rech_search {
    display: flex;
    /* border: 2px solid red; */
    width: 40%;
}
.raccoucir {
    width: 38%;
    background: yellowgreen;
    padding: 2px;
    margin-left: 5px;
    text-align: center;
}
.raccoucir_B {
    cursor: pointer;
    padding: 2px 3px;
    /* margin-left: 20px; */

    /* width: 20%; */
    border-radius: 10px;
    font-size: 1.1em;
}
.info_client_et_bt {
    display: flex;
}
#client_info {
    border-bottom: 3px solid black;
    width: 230px;
    margin-left: 5%;
    /* display: flex; */
    text-align: center;
    /* margin-top: -10px; */

}
#client_info strong {
    font-size: 1.6em;
}

.lab_rech {
    /* margin-left: 5%; */
    font-size: 1.3em;
}

/* ________Saisir de devis entier________ */

.tout_saisir {
    /* display: flex; */
    text-align: center;
    margin: 10px auto;
    display: flex;
    width: 98%;
    /* border: 2px solid white; */
    justify-content: space-evenly;
    padding: 15px;
    background: #FA00A2;
}

.nv_lign {
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;   
}
.sup_lign {
    cursor: pointer; 
    padding: 3px;
    border-radius: 5px;   
}
.tableau_tout_saisir_devis {
    width: 90%;
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 7px;
    padding: 5px;
}
.tableau_tout_saisir_devis td {
    height: 30px;
}
.tableau_tout_saisir_devis input {
    width: 98%;
    height: 23px;
    text-align: center;

}
.eff_excut {
    height: 110px;
    /* border: 2px solid red; */
}
.tout_saisir_form_calcul {
    /* display: flex; */
    text-align: center;
    margin: 10px auto;
    width: 40%;
    border: 3px solid black;
    border-radius: 6px;
    justify-content: space-evenly;
    padding: 10px;
    background: #B8B8B8;
    display: none;
}
.tout_saisir_form_calcul_pu {
    /* display: flex; */
    text-align: center;
    margin: 10px auto;
    width: 40%;
    border: 3px solid black;
    border-radius: 6px;
    justify-content: space-evenly;
    padding: 10px;
    background: #B8B8B8;
    display: none;
}
.cont_cal {
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
    justify-content: space-evenly;
}
.detail {
    /* border: 2px solid red; */
    width: 20%;
    margin: 0px 4px;
    overflow: hidden;
}
.detail_form_calcul {
    /* border: 2px solid red; */
    width: 30%;
    margin: 0px 4px;
    overflow: hidden;
}
.detail select {
    width: 100%;
    height: 30px;
}
p {
    /* border: 2px solid blue; */
    background: #FFBFCA;
    margin-bottom: 1px;
    font-size: 1.2em;
}
#obligation {
    /* border: 2px solid blue; */
    background: rgb(202, 199, 199);
    width: 60%;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 1px;
    font-size: 1.5em;
}
.qt {
    background: #FFBFCA;
    margin-bottom: 1px;
    font-size: 1.4em;
    cursor: pointer;
    width: 100%;
    border: none;
}
.qt:hover {
    background: black;
    color: yellow;
    transition: 0.6s;
    border-radius: 10px;  
}
.pu {
    background: #FFBFCA;
    margin-bottom: 1px;
    font-size: 1.4em;
    cursor: pointer;
    width: 100%;
    border: none;
}
.pu:hover {
    background: black;
    color: yellow;
    transition: 0.6s;
    border-radius: 10px;  
}
.detail_form_calcul p {
    font-size: 1.3em;
}
.chs {
    height: 30px;
    width: 100%;
    /* font-size: 1.8em; */
}
.chs_form_calcul {
    height: 25px;
    width: 100%;
    /* font-size: 1.8em; */
}
.bt_ef_ev {
    font-size: 1.2em;
    /* padding: 3px 5px; */
    cursor: pointer;
    border-radius: 10px;
    width: 25%;
    height: 35px;
    /* margin-top: 8px; */

}
.eff_execut {
    width: 80%;
    margin: 10px auto;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
}
.bt_ef_ev:hover {
    background: #03FF03;
    /* color: yellow; */
    transition: 0.3s;
}
.bt_ef_ev_form_calcul {
    font-size: 1.2em;
    padding: 2px 3px;
    cursor: pointer;
    /* width: 25%; */
    height: 30px;
    /* margin-top: 8px; */

}
.bt_ef_ev_form_calcul:hover {
    background: #03FF03;
    /* color: yellow; */
    transition: 0.3s;
}

.les_bt_form_calcul {
    /* border: 2px solid red; */
    width: 70%;
    margin: 3px auto;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    padding: 3px 5px;
    background: #B8AB25;
}

.sms_resultat {
    width: 55%;
    margin: 20px auto;
    padding: 5px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    margin-top: 30px;

}
h2 {
    text-align: center;
    font-size: 2.1em;
}
.tb_resltat {
    background: white;
    width: 80%;
    height: 275px;
    margin: 0px auto;
    padding: 8px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}
.tb_resltat table {
    border: 2px solid black;
    width: 98%;
    margin: 5px auto;
    text-align: center;
}
.tire {
    /* text-align: left; */
    /* background: #03FF03; */
    height: 35px;
    padding: 3px;
}
.tire #p_tr {
    font-size: 1.3em;
    margin-left: 20px;
    text-align: left;
}
.p_tr {
    font-size: 1.3em;
    margin-left: 20px;
    text-align: left;
}
.tb_resltat h4 {
    text-align: center;
}
.tb_resltat table th {
    background: gray;
    color: white;
    /* width: 60%; */
    height: 30px;
}
.tb_resltat table td {
    border-bottom: 1px solid black;
}
.tb_resltat table .un {
    /* background: red; */
    width: 10%; 
}
.tb_resltat table .deux {
    /* background: red; */
    width: 40%;
}
.tb_resltat table .trois {
    /* background: red; */
    width: 30%;
}
.tb_resltat table .quatre {
    /* background: red; */
    width: 10%;
}
.tb_resltat table .cinq {
    /* background: red; */
    width: 10%;
}
.resultat_rech {
    width: 80%;
    padding: 8px;
    background: white;
    margin: 5px auto;
}
/* ________affichage de bibliotheque cacher_____ */
.recour_biblio {
    width: 80%;
    height: 250px;
    padding: 8px;
    overflow: hidden;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
    background: white;
    margin: 5px auto;
    display: none;
}
#rch_bilbioo {
    width: 40%;
    /* border: 2px red solid; */
    background: #e668ba;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    padding: 7px 0px;
    text-align: center;
}
#rch_bilbioo h4 {
    font-size: 1.2em;
}
#seach {
    width: 70%;
}
#clic_radio {
    width: 60%;
    height: 60%;
}
.recour_biblio h3 {
    text-align: center;
}
.resultat_rech h3 {
    text-align: center;
}
.recour_biblio .coch_t {
    border: 2px solid black;
    background: #9348f5;
    width: 93%;
    margin: 10px auto;
    /* padding: 3px; */
    border-radius: 6px;
}
.recour_biblio .coch_t td {
    border-bottom: none;
}
.coch_ok {
    font-weight: bold;
    width: 60px;
    padding: 3px;
    cursor: pointer;
    border-radius: 7px;
}
.coch_ok:hover {
    background: #03FF03;
    transition: 0.5s;
}
.boit_liste_client {
    overflow-y: scroll;
    height: 150px;
}
.boit_liste_client tr {
    cursor: pointer;
}
.recour_biblio .coch_t tr:hover {
    background: none;
}
.recour_biblio table {
    border: 2px solid black;
    background: #D1DEE3;
    width: 93%;
    margin: 10px auto;
    /* padding: 3px; */
    border-radius: 6px;
}
.recour_biblio th,td {
    border-bottom: 4px solid white;
}
.recour_biblio th {
    /* border-bottom: 2px solid white; */
    background: #036897;
    padding: 7px;
}
.recour_biblio td {
    padding: 3px;
}
.recour_biblio .tr_survol:hover {
    background: #FFBFCA;
}
.depuis_biblio table {
    /* background: #f14ece; */
    width: 75%;
    margin: 5px auto;
}
.depuis_biblio table th {
    background: white;
}
.depuis_biblio table th,td {
    border-bottom: none;
}
.detail_f {
    border: 2px solid white;
    overflow-y: scroll;
    max-height: 300px;
    width: 75%;
    margin-right: 5px;
}
.ht_tva_ttc {
    border-radius: 8px;
    border: 2px solid white;
    margin-left: 5px;
}
.ht_tva_ttc table {
    width: 90%;
    height: 100px;
    margin: 40px auto;
    /* border: 2px solid red; */
    /* margin-top: 20px; */
}
.ht_tva_ttc table input {
    width: 100%;
    height: 25px;   
}
.ht_tva_ttc table p {
    background: #FFBFCA;
    /* margin-bottom: 1px; */
    font-size: 1.2em;   
}
.ht_tva_ttc table .td_input {
    width: 60%;
    
}


#client_saisir {
    margin-bottom: 10px;
}
#client_saisir table {
    width: 70%;
    /* height: 100px; */
    margin-left: 5%;
    /* border: 2px solid red; */
    margin-top: 6px;
}
#client_saisir table input {
    width: 100%;
    height: 25px; 
    padding: 3px;
    /* border: 2px solid black;   */
}
#client_saisir table p {
    /* background: #FFBFCA; */
    width: 100%;
    /* margin-bottom: 1px; */
    font-size: 1.2em;   
}
#client_saisir table .td_input {
    width: 60%;
    
}

#details_f_saisi {
    margin-bottom: 10px;
}
#details_f_saisi table {
    width: 60%;
    /* height: 100px; */
    margin-left: 5%;
    /* border: 2px solid red; */
    margin-top: 6px;
}
#details_f_saisi table input {
    width: 100%;
    height: 25px; 
    padding: 3px;
    /* border: 2px solid black;   */
}
#details_f_saisi table p {
    font-size: 1.2em;   
    width: 100%;
}
#client_saisir table .td_input {
    width: 60%;
    
}
/* page formulaire.php */


