* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(212, 178, 199);
    /* min-width: 600px; */
}
h1{
    text-align: center;
    color: white;
    margin: 20px 0px;
    background: red;
}
button {
    padding: 2px 3px;
    font-size: 1.3em;
}
.spandecor {
    background: #FFBFCA;
    padding: 1px 3px;
    border-radius: 5px;
}
hr {
    margin: 10px 0px;
}
p{
    text-align: center;
    /* background: tomato; */
    width: 100%;
    padding: 4px 0px;
}
table{
    width: 96%;
    margin: 3px auto;
}
th{
    text-align: center;
    background: #e668ba;
    padding: 4px 2px;
}
table input{
    width: 100%;
    padding: 4px 0px;
    text-align: center;
}
select {
    width: 100%;
    text-align: center;
    padding: 4px 0px;
}
.placement_l_L_p {
    /* border: 2px red solid; */
    display: flex;
    width: 70%;
    margin: 10px auto;
    /* margin: 10px 0px; */
    /* text-align: center; */
}
.placement_l_L_p_ {
    /* border: 2px red solid; */
    display: flex;
    /* width: 70%; */
    margin: 10px 0px;
    /* margin: 10px 0px; */
    /* text-align: center; */
}
.placement_l_L_p input {
    text-align: center;
    height: 25px;
    width: 70px;
    border-radius: 5px;
}
/* #prix_tt {
    text-align: center;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    border: none;
} */
.placement_l_L_p_ input {
    text-align: center;
    height: 25px;
    width: 70px;
    border-radius: 5px;
}
#inp1 {
    margin-left: 10px;
}
#inp2 {
    margin-left: 19px;
}
#inp3 {
    margin-left: 31px;
}

#inp1_ {
    margin-left: 17px;
}
#inp2_ {
    margin-left: 31px;
}
#inp3_ {
    margin-left: 12px;
}

#inp1__ {
    margin-left: 13px;
}
#inp2__ {
    margin-left: 30px;
}
#inp3__ {
    margin-left: 10px;
}
#inp10_ {
    margin-left: 33px;
}
#inp11_ {
    margin-left: 5px;
}
.dim {
    border: 3px yellowgreen solid;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    /* text-align: center; */
    /* display: flex; */
}
#dimen1 {
    border-radius: 10px;
}
#dimen2 {
    border-radius: 10px;
}
.volum_fouill {
    background: greenyellow;
    width: 85%;
    margin: 2px auto;
    text-align: center;
    font-size: 1.8em;
    padding: 5px;
    /* border-radius: 10px; */
}
.volum_fouille {
    background: greenyellow;
    width: 85%;
    margin: 2px auto;
    text-align: center;
    font-size: 1.8em;
    padding: 5px;
    border-radius: 20px;
}
#detail {
    background: white;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 2px 20px 2px;
    /* height: 800px; */
}
#image {
    height: 225px;
    width: 25%;
    /* border-radius: 10px; */
}
#image img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#text_beton {
    background: deeppink;
    width: 35%;
    padding: 4px 0px;
    text-align: center;
    margin: 0px auto;
    border-radius: 0px 0px 25px 25px;
}
.toto {
    margin-left: 10%;
}
.s_t_calcul {
    text-align: center;
    background: #B8B8B8;
    padding: 4px 0px;
}

#beton_arme_caher {
    /* border: 2px black solid; */
    padding: 3px 0px;
    display: none;
}
.avance_texte {
    margin-left: 15%;
}
#tb {
    width: 60%;
    margin: 8px auto;
    /* border: 2px solid red; */
    text-align: center;
}
#tab_fondat {
    display: none;
}
#qt_aciers {
    margin-left: 33px;
}
#qt_fil {
    margin-left: 5px;
}
#pu_aciers {
    margin-left: 5px;
}
#pu_fil {
    margin-left: 5px;
}