.formulaire{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    border: 3px solid #06f11a;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#fieldset_ajouter{
    background: cyan;
}

legend{background: red;}

#tab{
    width: 100px;
    height: 200px;
    margin-left: 50px;
    margin-top: 10px;
    background: rgb(204, 202, 202);
}