* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(212, 178, 199);
}
h1{
    text-align: center;
    color: white;
    margin: 20px 0px;
    background: #FFBFCA;
}
select {
    width: 100%;
    text-align: center;
    padding: 4px 0px;
}
p {
    background: #FFBFCA;
    padding: 4px 0px;
    font-size: 1.5em;
}
table input {
    height: 25px;
}
table th {
    padding: 4px 0px;
}

.vrai_feuill_calcu {
    width: 92%;
    border: 1px black solid;
    border-radius: 5px;
    padding: 4px;
    margin: 15px auto;
    background: white;

}
.vrai_feuill_calcu table {
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
}
.vrai_feuill_calcu h4 {
    text-align: center;
    background: #B8B8B8;
    padding: 4px 0px;
}
.vrai_feuill_calcu table th {
    background: #e668ba;
}
.vrai_feuill_calcu table input {
    width: 100%;
    text-align: center;
}
.separateur {
    width: 100%;
    height: 3px;
    background: black;
    margin: 10px 0px;
}
#id_terrassem {
    background: #FFBFCA;
}

.fouille_dim {
    /* border: 2px red solid; */
    display: flex;
    justify-content: space-evenly;
    padding: 3px 0px;
}
.dim {
    border: 3px yellowgreen solid;
    width: 55%;
    padding: 5px;
    border-radius: 10px;
    /* text-align: center; */
    /* display: flex; */
}
#dimen1 {
    border-radius: 10px;
}
#dimen2 {
    border-radius: 10px;
}
.placement_l_L_p {
    /* border: 2px red solid; */
    display: flex;
    width: 70%;
    margin: 10px auto;
    /* margin: 10px 0px; */
    /* text-align: center; */
}
.placement_l_L_p input {
    text-align: center;
    height: 25px;
    width: 55px;
    border-radius: 5px;
}
#image {
    height: 175px;
    width: 30%;
    /* border-radius: 10px; */
}
#image img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.volum_fouill {
    background: greenyellow;
    width: 85%;
    margin: 2px auto;
    text-align: center;
    font-size: 1.8em;
    padding: 5px;
    /* border-radius: 10px; */
}
.volum_fouille {
    background: greenyellow;
    width: 85%;
    margin: 2px auto;
    text-align: center;
    font-size: 1.8em;
    padding: 5px;
    border-radius: 20px;
}
#inp1 {
    margin-left: 23px;
}
#inp2 {
    margin-left: 35px;
}
#inp3 {
    margin-left: 10px;
}


